* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.memory-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    height: 700px;
    margin: auto;
    transform: scale(1);
    perspective: 1000px;
    transition: transform .5s;

    .card {
        position: relative;
        background: dodgerblue;
        width: calc(20% - 10px);
        height: calc(33.3% - 10px);
        border-radius: 7px;
        margin: 5px;
        display: flex;
        align-items: center;
        transition: all .5s;
        transform-style: preserve-3d;

        .card__front-face, .card__back-face {
            position: absolute;
            width: 100%;
            padding: 20px;
            backface-visibility: hidden;
        }

        .card__front-face {
            transform: rotateY(180deg);
          }
    }

    .card:active {
        transform: scale(0.97);
        transition: transform .3s;
    }
}

.flip {
    transform: rotateY(180deg);
}