* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: aliceblue;
    background-color: aliceblue;
}

.memory-game {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 900px;
    height: 100vh;
    margin: auto;
    transform: scale(1);
    perspective: 1000px;
    transition: transform .5s;

    .card {
        position: relative;
        background: dodgerblue;
        border-radius: 7px;
        margin: 5px;
        display: flex;
        align-items: center;
        transition: all .5s;
        transform-style: preserve-3d;

        .card__front-face, .card__back-face {
            position: absolute;
            width: 100%;
            padding: 20px;
            backface-visibility: hidden;
        }

        .card__front-face {
            transform: rotateY(180deg);
          }
    }

    .card:active {
        transform: scale(0.97);
        transition: transform .3s;
    }
}

.flip {
    transform: rotateY(180deg);
}

.modal {
    max-width: 500px;
    height: 150px;
    margin: calc(50vh - 75px) auto 0;
    padding: 0 4%;
    background: dodgerblue;
    border-radius: 7px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin-bottom: 20px;
    }

    ul {

        li {
            display: inline-block;

            button {
                font-size: 24px;
                color: aliceblue;
                background: transparent;
                border: none;
                margin: 0 25px;
                cursor: pointer;
                transition: .3s all;
            }

            button:hover {
                color: gold;
                text-decoration: underline;
            }
        }
    }

}